.container {
    background: #0f172a;
    background: -moz-linear-gradient(-45deg, #0f172a 0%, #0ea5a4 100%);
    background: -webkit-linear-gradient(-45deg, #0f172a 0%, #0ea5a4 100%);
    background: linear-gradient(135deg, #0f172a 0%, #0ea5a4 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.containerInside {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circleSmall,
.circleMedium,
.circleLarge,
.circleXLarge,
.circleXXLarge {
    animation: circleScale 3s ease-in-out infinite alternate;
    animation-timing-function: cubic-bezier(.6, 0, .4, 1);
    position: absolute;
    border-radius: 50%;
}

.circleSmall {
    animation-delay: 0s;
    top: 200px;
    left: -150px;
    width: 300px;
    height: 300px;
    background: #67e8f9;
    opacity: 0.30;
}

.circleMedium {
    animation-delay: 0.3s;
    top: 50px;
    left: -300px;
    width: 600px;
    height: 600px;
    background: #22d3ee;
    opacity: 0.24;
}

.circleLarge {
    animation-delay: 0.6s;
    top: -100px;
    left: -450px;
    width: 900px;
    height: 900px;
    background: #38bdf8;
    opacity: 0.18;
}

.circleXLarge {
    animation-delay: 0.9s;
    top: -250px;
    left: -600px;
    width: 1200px;
    height: 1200px;
    background: #7dd3fc;
    opacity: 0.12;
}

.circleXXLarge {
    animation-delay: 1.2s;
    top: -400px;
    left: -750px;
    width: 1500px;
    height: 1500px;
    background: #a5f3fc;
    opacity: 0.08;
}

@keyframes circleScale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}
