.container {
    background: #f6d365;
    background: -moz-linear-gradient(-45deg, #f6d365 0%, #fda085 100%);
    background: -webkit-linear-gradient(-45deg, #f6d365 0%, #fda085 100%);
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6d365', endColorstr='#fda085', GradientType=1);
    position: absolute;
    /* Changed from relative to absolute to fill parent */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* Ensure circles don't spill out */
    z-index: 0;
}

.containerInside {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px auto;
    overflow: hidden;
    /* Changed to hidden to clip circles */
}

/* Circles */
.circleSmall {
    animation: circle-small-scale 3s ease-in-out infinite alternate;
    animation-timing-function: cubic-bezier(.6, 0, .4, 1);
    animation-delay: 0s;
    position: absolute;
    top: 200px;
    left: -150px;
    background: #fff;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0.4;
}

.circleMedium {
    animation: circle-small-scale 3s ease-in-out infinite alternate;
    animation-timing-function: cubic-bezier(.6, 0, .4, 1);
    animation-delay: 0.3s;
    position: absolute;
    top: 50px;
    left: -300px;
    background: #fff;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    opacity: 0.3;
}

.circleLarge {
    animation: circle-small-scale 3s ease-in-out infinite alternate;
    animation-timing-function: cubic-bezier(.6, 0, .4, 1);
    animation-delay: 0.6s;
    position: absolute;
    top: -100px;
    left: -450px;
    background: #fff;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    opacity: 0.2;
}

.circleXLarge {
    animation: circle-small-scale 3s ease-in-out infinite alternate;
    animation-timing-function: cubic-bezier(.6, 0, .4, 1);
    animation-delay: 0.9s;
    position: absolute;
    top: -250px;
    left: -600px;
    background: #fff;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    opacity: 0.1;
}

.circleXXLarge {
    animation: circle-small-scale 3s ease-in-out infinite alternate;
    animation-timing-function: cubic-bezier(.6, 0, .4, 1);
    animation-delay: 1.2s;
    position: absolute;
    top: -400px;
    left: -750px;
    background: #fff;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    opacity: 0.05;
}

/* Keyframes */
@keyframes circle-small-scale {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.1);
    }
}